.btn-catalyze {
  font-size: 40px;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  display: inline-block;
  margin-left: 4px;
  width: 30px;
  text-align: center;
  line-height: 0;
}
ul .selected {
  background-color: LightBlue;
}
.vanished {
  display: none;
}
