ul {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 4px;
    width: 30px;
    text-align: center;
    line-height: 0;

    .selected {
      border: black solid 1px;
    }

    mania-slot {
      border: black solid 1px;
    }
  }
}
